
html{
	margin: 0;
}

head {
    padding: 20px;
}

.show{
    display: none;
}

body {
    margin: 0;
    padding: 20px;
    background-color: #fffbe4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Noto Sans KR', sans-serif;
    height: 90vh;
}

table { 
    border-spacing: 15px;
    border-collapse: separate;
}

th, td {
    border-bottom: 1px solid #ddd;
  }

  tr:nth-child(even) {background-color: #fffbe441;}